@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #f9f4ec;
  margin: 0;
  padding: 0;
}

* {
  scrollbar-width: thin;
  scrollbar-color: blue orange;
}

/* Scrollbar for Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 7px;
  height: 3px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(166, 165, 159);
  border-radius: 20px;
  border: 1px solid rgb(166, 165, 159);
}

.center-object {
  @apply flex items-center justify-center;
}
